.detail_menu {
    text-align: center;
}

.arrow-1 {
    height: 15px;
    width: 15px;
    border: 1px solid #2E4071;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
    float: left;
}

.feeling_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin-left: 20px;
}


.feeling_a {
    background-color: #fff;
    border: 2px solid #2E4071;
    padding: 10px 20px;
    border-radius: 2px;
    color: #2E4071;
}
li{
    list-style: none;
}