<style>
    li,
    ol,
    ul {
        list-style-type: none;
        text-align: center;
    }
</style>
<div id="map" style="width: 90%; height: 1000px; margin-top: 10%; margin-left: 10%; display: inline-table;">
    <div>
        <img src="/static/anmok.jpg" style="width: 40% ; height:75% ;float: left;">
    </div>
    <div style="height: 1000px;">
        <div  style="border-style : solid ; float: right; margin-right: 15%; overflow: auto; height: 75%;" >
            <li>

                <ol>
                    데이터데이터데이터 데이터데이터데이터 데터데이터 데터데이터 데터데이터 데터데이터 데터데이터 데터데이터 데터데이터 데
                </ol>
                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>

                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>

                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>
                <hr>
                <ol>
                    2
                </ol>
            </li>
        </div>
    </div>
</div>
</div>
</div>