{%load static %}
<nav class="footer">
<h3>KnS 연합 해커톤</h3>
<ul class="socials">
    <li>yeheun004@likelion.org</li>
    <li>yeheun004@likelion.org</li>
    <br>
    <li>yeheun004@likelion.org</li>
    <li>yeheun004@likelion.org</li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>        
</ul>
</nav>
<div class="footer-bottom">
    <p>copyright &copy;2021 codeOpacity. designed by <span>TripDgauza</span></p>
</div>
