<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Write page</h1>

    <form action="{%url 'set_place_detail'%}" method="post">
        {%csrf_token%}
        <p>kakao_place_id: <input type="text", name = 'kakao_place_id'></p>
        <p>지역명: <input type="text", name = 'region'></p>
        <p>place_type(0 : 식당, 1 : 관광지): <input type="text", name = 'place_type'></p>
        <p>region_money(0 : 불가능, 1 : 가능): <input type="text", name = 'region_money'></p>
        <button type="submit">submit</button>

    </form>
</body>
</html>