{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'static/signup.css' %}">
{% endblock %}

{% block head_title %}회원가입 페이지{% endblock %}

{% block main_area %}
<br><br><br><br><br>
<!-- 회원가입 -->
<div id="register_box">
    <div id="register_txt">
    <div id= "container">
        <div class = "row mt-5">
            <div class = "col-12 text-center">
                <h1 style="color: #0EAE8c;">회원가입</h1>
            </div>
        </div>
    </div>
    <br>
<!-- 아이디 -->
<div class="form-group">
    <input
        type="text"
        class="form-control"
        id="userid"
        placeholder="아이디"
        name="userid">
</div>
<br>
<!-- 비밀번호 -->
<div class="form-group">
    <input
        type="password"
        class="form-control"
        id="password1" placeholder="비밀번호"
        name="password1">
</div>
<br>
<!-- 비밀번호 확인 -->
<div class="form-group">
    <input
        type="password"
        class="form-control"
        id="password2"
        placeholder="비밀번호 확인"
        name="password2">
</div>
<br>
<!-- 이메일 -->
<div class="form-group">
    <input
        type="email"
        class="form-control"
        id="email"
        placeholder="이메일"
        name="email">
</div>
<br>
<!-- 별명 -->
<div class="form-group">
    <input
        type="text"
        class="form-control"
        id="nickname"
        placeholder="닉네임"
        name="nickname">
</div>
<br>
<a href='#' class='button'>로그인</a>
</div>
</div>
{% endblock %}