{% extends 'base.html' %}

{% load static %}

{% block head_title %}마이페이지{% endblock %}

{% block main_area %}

<body style="background-image: url('memo.png'); background-size : cover;">

  <container class="container">
    <div class="position-relative" style=" top:100px; margin-bottom: 50px; width: 100%;">
      <!--마이페이지 사진-->

      {% if user.image %}
      <div style="width: 100%; text-align: center;">
        <img class="user-img" id="image{{user.id}}" src="{{user.image.url }}" style="width: 200px;">
      </div>{% else %}
      <div style="width: 100%; text-align: center;">
        <img class="user-img" src="{% static '../static/logo.png' %}" style="width: 200px; height: 200px; ">
      </div>{% endif %}

    </div>
    <br>
    <br>
    <br>
    <br>
    <p style="text-align: center;">닉네임 : <a style="text-align: center" ;>{{user.nickname}}</a></p>
    <br>
    <p style="text-align: center;">소개글 :  {{user.content}}</p>
    <br>
    <div style="width: 100%;">
      <p style="text-align: center;">
        <a href="{% url 'userinfo_update' %}" class="btn btn btn-secondary" style="background-color: #2E4071;">수정하기</a>
  </div>
    <br>
    <br>
    <hr>
    <p style="text-align: center;">찜한 목록</p>
    <div class="position-relative" style="top: 150px; display: flex; justify-content: center;">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
        style="width: 1178px; height: 320px; background:#8AC0E4; border-radius: 20%; overflow: hidden;">
        <div class="carousel-inner">

          <div class="carousel-item active">
        
            <!--첫번째 슬라이드-->
            <div style="width:135px; display: inline-table;"></div>
            <div class="card"
              style="width: 18rem; display: inline-table; margin-right: 10px; margin-top: 12px; height:294px;">
              <img src="{% static '../static/logo.png' %}" class="card-img-top" alt="...">
              <div class="card-body">
       
                <form action="../course_detail" method="get">
                  {% csrf_token %}
                <p class="card-text" style="color:black;">{{course.title}}</p>
              </form>
     
              </div>
            </div>
      
            <div class="card"
              style="width: 18rem; display: inline-table; margin-right: 10px; margin-top: 12px; height:294px;">
              <img src="cat.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="color:black;">Some quick example text to build on the card title and make up
                  the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card" style="width: 18rem; display: inline-table; margin-top: 12px; height:294px;">
              <img src="cat.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="color:black;">Some quick example text to build on the card title and make up
                  the bulk of the card's content.</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <!--두번째 슬라이드-->
            <div style="width:135px; display: inline-table;"></div>
            <div class="card"
              style="width: 18rem; display: inline-table; margin-right: 10px; margin-top: 12px; height:294px;">
              <img src="cat.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="color:black;">Some quick example text to build on the card title and make up
                  the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card"
              style="width: 18rem; display: inline-table; margin-right: 10px; margin-top: 12px; height:294px;">
              <img src="cat.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="color:black;">Some quick example text to build on the card title and make up
                  the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card" style="width: 18rem; display: inline-table; margin-top: 12px; height:294px;">
              <img src="cat.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="color:black;">Some quick example text to build on the card title and make up
                  the bulk of the card's content.</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <!--세번째 슬라이드-->
            <div style="width:135px; display: inline-table;"></div>
            <div class="card"
              style="width: 18rem; display: inline-table; margin-right: 10px; margin-top: 12px; height:294px;">
              <img src="cat.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="color:black;">Some quick example text to build on the card title and make up
                  the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card"
              style="width: 18rem; display: inline-table; margin-right: 10px; margin-top: 12px; height:294px;">
              <img src="cat.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="color:black;">Some quick example text to build on the card title and make up
                  the bulk of the card's content.</p>
              </div>
            </div>
            <div class="card" style="width: 18rem; display: inline-table; margin-top: 12px; height:294px;">
              <img src="cat.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text" style="color:black;">Some quick example text to build on the card title and make up
                  the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev" style="width:150px;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next" style="width:150px;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</body>
{% endblock %}
